<div class="container">
  <div class="row text-center">
    <label><h3><b><em>Link Title: </em></b></h3></label>
    <input type="text" id='new-link-title'>
    <label><h3><b><em>Link URL: </em></b></h3></label>
    <input type="text" id='new-link-body'>
    <button id='submit-new-link' class='btn btn-primary'>Save Link</button>
  </div>
</div>
